<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPBilling.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MPBilling.My.MySettings>
            <setting name="TraderSpecificService" serializeAs="String">
                <value>Rent</value>
            </setting>
            <setting name="DebtorType" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="OutFileNameStub" serializeAs="String">
                <value>Billing</value>
            </setting>
            <setting name="TradersXml" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Baylink Motor Bikes,A1300362,321.55</string>
                        <string>CTG Wilmar,A1300353,100</string>
                        <string>Down To Earth Flooring,A1300354,78</string>
                        <string>Eastern Tree Service,A1300355,45.56</string>
                        <string>Granny Food - Order 2 Go,A1300356,78.45</string>
                        <string>Grego,A12233,100</string>
                        <string>Margeret Rowlands curry,A1300357,95</string>
                        <string>Plant Savers - Sunrise Energy Ent,A1300358,34</string>
                        <string>Plexcom Industries,A1300359,234</string>
                        <string>Sunburnt Solar,A1300360,450</string>
                        <string>Wilmarq Consulting,A1300361,34.99</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServicesXml" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>B&amp;W Photcopies,1,0.10,0128471453</string>
                        <string>Colour Photocopies,1,0.25,0128471453</string>
                        <string>Electricity,1,20,0128471453</string>
                        <string>Facsimilie,1,0.20,0128471453</string>
                        <string>Gas,1,10,0128471453</string>
                        <string>Rent,1,100,0128471460</string>
                        <string>Sausages,12,8.00,0123456789</string>
                        <string>Telephone,1,0.25,0128471453</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TradersListCols" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ServicesListCols" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CampingGSTAccount" serializeAs="String">
                <value>0199007806</value>
            </setting>
            <setting name="CampingIncomeAccount" serializeAs="String">
                <value>0154961410</value>
            </setting>
            <setting name="CampingDepositAccount" serializeAs="String">
                <value>0199007410</value>
            </setting>
            <setting name="CampingDebtorType" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="CampingInvLeadText" serializeAs="String">
                <value>Foreshore Camping Fees - Season 2019/20</value>
            </setting>
            <setting name="CampingWithdrawLeadText" serializeAs="String">
                <value>Withdrawal of Foreshore Camping Fees - Season 2019/20</value>
            </setting>
        </MPBilling.My.MySettings>
    </userSettings>
</configuration>
